.toggleSwitch {
  width: 110px;
  height: 40px;
  border-radius: 100px;
  padding: 10px;
  display: flex;
  align-items: center; /* This will center vertically */
  cursor: pointer;
  z-index: 2;
}

/* CSS for switch when "on"*/
.toggleSwitch.on {
  background-color: #1aad66;
  justify-content: flex-end;
  /* for smooth transition*/
  transition: 0.5s ease-in-out;
}

/* CSS for switch when "off"*/
.toggleSwitch.off {
  background-color: #dddddd;
  justify-content: flex-start;
}

.toggleSwitch div {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.switch-img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
